canvas{
border: 1px solid #AAAAAA;
}

.center {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.center-div{
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.left{
padding-left: 10px;
float: left;
}

.right{
padding-right: 10px;
float: right;
}

h1 {
  text-align: center;
}
